<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="menu">
<side class="main-sidebar">
    <section class="sidebar">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <ul>
                <li>
                    <a href="#">
                        <span>页面局部信息刷新功能展示</span>
                    </a>
                    <ul >
                        <li><a href="javascript:void(0);" id="btnAdminIndex" onclick="show(this.id)">页面一</a></li>
                        <li><a href="javascript:void(0);" id="btnAdminNew" onclick="show(this.id)">页面二</a></li>
                    </ul>
                </li>
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <span></span>-->
<!--                        <span>文章管理</span>-->
<!--                    </a>-->
<!--                    <ul >-->
<!--                        <li><a href="/index"></a></li>-->
<!--                        <li><a href="/form"></a></li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
        </div>

    </section>
</side>
</body>
</html>