<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--插入（web-common模块下）includes下的head.html-->
<head th:insert="~{includes/head::head}"></head>
<!--貌似可以进行覆盖,来重写title-->
<head><title>Main</title></head>

<body>
<!--插入navbar-->
<!--th:block:thymeleaf处理模板引擎时会去除th:block模块,直接引入本身的内容-->
<th:block th:insert="~{/includes/navbar::navbar}"></th:block>

<th:block th:include="~{/includes/menu :: menu}"></th:block>

<!--<th:block th:include="includes/menu :: menu"></th:block>-->


Hello world!


<iframe src="/welcome" name="iframe" frameborder="0" style="width: 100%; heigh= 768px;" />

</body>
</html>