<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>nav bar</title>
</head>
<body>

<!--使用thymeleaf的fragment分段，抽取页面中的共同部位-->
<div th:fragment="navBar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/homepage">主页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>-->
                <form class="navbar-form navbar-left" action="/search" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索问题" name="keyword">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <!--传入GitHub的登陆连接--><!--url中,第一个参数使用?分割,之后使用&-->
                    <!--client_id:传入服务器id-->    <!--redirect_uri= 获取返回的登陆页面-->
                    <!--scope:获取user信息-->   <!--state: 生成随机字符串,防止跨站攻击-->
                    <!--thymeleaf的if表达式,从session中获取user属性,为空则显示-->
                    <li th:if="${session.communityUser == null }">
                        <a href="/login">登陆</a>
                    </li>

                    <li class="dropdown" th:if="${session.communityUser != null }">
                        <!--关于session.user.getLogin()获取用户账户,如果无法获取会出现404页面;此处get方法基于JavaBean-->
                        <!--之后问题在于:无法持久化存储登录状态-->
                        <a href="#" class="dropdown-toggle dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                            <span th:text="${session.communityUser.getUsername()}"></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/newIssue">发布</a></li>
                            <li><a href="/profile">我的问题</a></li>
<!--                            <li><a href="#">项目3</a></li>-->
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/logout" >退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</div>

</body>
</html>